*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@keyframes slideInLeft {
  0% { opacity: 0;}
    10% { opacity: 0.1;width: 100%; height: 100%;}
    20% { opacity: 0.2;width: 100%; height: 100%;}
    30% { opacity: 0.3;width: 100%; height: 100%;}
    40% { opacity: 0.4;width: 100%; height: 100%;}
    50% { opacity: 0.5;width: 100%; height: 100%;}
    100% { opacity: 1;width: 100%; height: 100%;}
}

@keyframes fadeout {
    0% { opacity: 0;}
    10% { opacity: 0.1;width: 100%; height: 70%;}
    20% { opacity: 0.2;width: 100%; height: 70%;}
    30% { opacity: 0.3;width: 100%; height: 70%;}
    40% { opacity: 0.4;width: 100%; height: 70%;}
    50% { opacity: 0.5;width: 100%; height: 70%;}
    100% { opacity: 1;width: 100%; height: 70%;}
}

@keyframes fadein {
  0% { opacity: 1;}
  10% { opacity: 0.9;}
  20% { opacity: 0.8;}
  30% { opacity: 0.7;}
  40% { opacity: 0.6;}
  50% { opacity: 0.3;}
  100% { opacity: 0;}
}

h1{
	color: #03f87ef6;
}

p{
  color: #f6b70a;
  font-size: xx-large;
}

#playBTN{
	padding: 5px 10px;
	font-size: 15px;
	text-align: relative;
	cursor: pointer;
	background: linear-gradient(to right bottom,#273c75,#079992);
	color: #fff;
	border-radius: 5px;
	border:0px;
	height: auto;
}

#alerting
{
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}


body{
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-name: slideInLeft;
  height: 100%;
  width: 100%;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

::-webkit-input-placeholder { /* Edge */
  color: red;
  font-size: 13px;
  opacity: .4;
}

input[type="number"]{
  width: 70px;
  font-weight: 600;
  color: #663399;
  padding: 20px 0;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid #202020;
  font-size: 20px;
}

#enter{
  cursor: pointer;
  width: 160px;
  padding: 15px 0;
  border-radius: 5px;
  background-color: #663399;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  outline: none;
}

#container{
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-name: fadeout;
  width: 100%;
  height: 70%;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(100deg, #b9e9a7d7 10%, #808dd6f6 90%);
}

.restart-bn{
	background: #3498db;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 20px;
}
